# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/class
out
gen
class/
src/main/java/com/wuzuqing/springbootdemo/filter/
src/test/
target/
